@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --fontTextos: "Roboto", sans-serif;
    --fontNumeros: "Poppins", sans-serif;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

   
    
}
body{
        width: 99vw;
        height: 100vh;

        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 80px 650px;
        /* overflow-x: hidden; */
    
        grid-template-areas: 
        "header"
        "main";
    
        background-image: url(midia/wallpaperflare.com_wallpaper.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
}

header{
        grid-area: header;
        width: 99vw;
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;  
}
.logo{
    
    margin-top: 20px;
    margin-left: 30px;
    height: 75px;
    width: 90px;
    /* border: 1px solid pink; */

    display: grid;
        grid-template-columns: 35px ;
        grid-template-rows: 35px ;
        grid-template-areas: 
        "cima cima"
        "baixo baixoDireita";

    
}
.logo > div{
       
    width: 35px;
    height: 35px;
    background-color: #FA876E;
}
.logoHotel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
div.cima{
    grid-area: cima;
    border-radius: 5px 0px 0px 0px;
}
div.cima::after{
    content: ' ';
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 0px 5px 0px 0px;

    background-color: #FA876E;
    
    position: relative;
    left: 39px;
    bottom: 4px;

}
div.baixo{
    grid-area: baixo;
    border-radius: 0px 0px 0px 5px;

}
div.baixoDireita{
    grid-area: baixoDireita;
    border-radius: 0px 0px 5px 0px;

}
h1{
    font-size: 1.5em;
    margin-bottom: -15px;
    margin-left: -5px;
    color: #f8f8f8;
    font-family: var(--fontTextos);
    letter-spacing: 1px;
}
.loginHotel{
    margin-right: 30px;    
    width: 400px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.iconLogin{
    margin-left: 80px;    
    height: 45px;
    width: 45px;
    color: #FCD6B8;
}
.loginHotel > button{
    background-color: transparent;
    border: 1px solid #FCD6B8;
    color: #f8f8f8;
    font-family: var(--fontTextos);

    height: 40px;
    width: 180px;
    border-radius: 5px;
    font-weight: 700;
}
main{
    grid-area: main;
    /* grid-column: 3/4; */
    border: 1px solid #f1f1f1ac;
    
    width: 600px;
    height: 600px;
    background-color: #444444a3;
    border-radius: 10px;
    margin-left: 800px;
    margin-top: 20px;
    
    

}
h2{
    margin-top: 50px;
}
p{
    margin-top: 12px;
    text-align: left;
}
h2,p{
    font-family: var(--fontTextos);
    color: #f8f8f8;
    margin-left: 50px;
}
.titleCalendar{
        
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
}
.titleCalendar > h3{
    font-family: var(--fontTextos);
    color: #f8f8f8;
    font-size: 16px;
    margin-right: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}
.arrows{
    color: #f1f1f1;
}
.arrowForward{
    color: #E28167;
}
.calendario{
  
    height: 300px;
    width: 100%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(7,45px);
    grid-template-rows: repeat(7,1fr);
    font-size: 14px;
    grid-template-areas: 
    "dom seg ter qua quin sex sab"
    ". . . . . . p1"
    "p2 p3 p4 p5 p6 p7 p8"
    "p9 p10 p11 p12 p13 p14 p15"
    "p16 p17 p18 p19 p20 p21 p22"
    "p23 p24 p25 p26 p27 p28 p29"
    "p30 p31 . . . . .";
    
}
.calendario > p{
    color: #f8f8f8;
    margin-left: 28px;
    font-family: var(--fontNumeros);
   
}
.pSem{
    font-size: 12px;
}
#pDom{
    grid-area: dom;
}
#pSeg{
    grid-area: seg;
}
#pTer{
    grid-area: ter;
}
#pQua{
    grid-area: qua;
}
#pQuin{
    grid-area: quin;
}
#pSex{
    grid-area: sex;
}
#pSab{
    grid-area: sab;
}
.pNum{
    font-size: 10px;
}
#p1,#p2,#p3,#p4,#p5,#p6,#p7,#p8,#p9,#p10,#p11,#p12,#p13,#p14,#p15{
    
    background-color: #E28167;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#p1{
    grid-area: p1;
}

#p2{
    grid-area: p2;
}
#p3{
    grid-area: p3;
}
#p4{
    grid-area: p4;
}
#p5{
    grid-area: p5;
}
#p6{
    grid-area: p6;
}
#p7{
    grid-area: p7;
}
#p8{
    grid-area: p8;
}
#p9{
    grid-area: p9;
}
#p10{
    grid-area: p10;
}
#p11{
    grid-area: p11;
}
#p12{
    grid-area: p12;
}
#p13{
    grid-area: p13;
}
#p14{
    grid-area: p14;
}
#p15{
    grid-area: p15;
}
#p16{
    grid-area: p16;
    background-color: #EB5229;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#p17{
    grid-area: p17;
}
#p18{
    grid-area: p18;
}
#p19{
    grid-area: p19;
}
#p20{
    grid-area: p20;
}
#p21{
    grid-area: p21;
}
#p22{
    grid-area: p22;
}
#p23{
    grid-area: p23;
}
#p24{
    grid-area: p24;
}
#p25{
    grid-area: p25;
}
#p26{
    grid-area: p26;
}
#p27{
    grid-area: p27;
}
#p28{
    grid-area: p28;
}
#p29{
    grid-area: p29;
}

#p30{
    grid-area: p30;
}

#p31{
    grid-area: p31;
}
.h3Horario{
    font-family: var(--fontTextos);
    color: #f8f8f8;
    font-size: 16px;
    margin-left: 50px;
    font-weight: 500;
    letter-spacing: 1px;
}


